<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email" placeholder="demo123@gmial.com"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="password" placeholder="********"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mobile</ion-label>
    <ion-input [(ngModel)]="mobile" placeholder="00000000"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="gender" placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="Signup()">Submit</ion-button>
  <ion-button (click)="Save()">save</ion-button>
    <div>{{totalEmail}} </div>
    <div>hello</div>
    <div>{{sign-up.mobile}}</div>
    <div>{{sign-up.gender}}</div>

</ion-content>
