<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item>
    <ion-lable>Email</ion-lable>
    <ion-input>{{profile.Email}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-lable>Password</ion-lable>
    <ion-input> {{profile.Password}} </ion-input>
  </ion-item>
  <ion-item>
    <ion-lable>Mobile</ion-lable>
    <ion-input> {{profile.Mobile}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-input> {{profile.Gender}}</ion-input>
  </ion-item>
</ion-content>
