<ion-header>
  <ion-toolbar>
    <ion-title>forgotPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isshow ; else pass">
    <ion-item>
      <ion-label>enter new password</ion-label>
      <ion-input [(ngModel)]="passwordnew"></ion-input>
    </ion-item>
    <ion-button (click)="submit()">create</ion-button>
</div>
<ng-template  #pass>
  <ion-item>
    <ion-label>Gmail</ion-label>
    <ion-input [(ngModel)]="usermail"></ion-input>
  </ion-item>
  <ion-button (click)="submit()">Submit</ion-button>
</ng-template>
</ion-content>
