ion-content{
  .cogicon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0%;
  }
  ion-input{
  border: 2px solid grey;
  border-radius: 10px;
  .sarchicon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  }
}

